{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>
<script>
    let foul = {{ foul | tojson }}
    let fouls = {{ fouls | tojson }}
    let index = 0
</script>
<script>
    function showNextExample() {
        var textContainer = document.getElementById("sentence-container");
        var videoContainer = document.getElementById("video-container");
        var framesContainer = document.getElementById("frames-container");
        var leftArrow = document.getElementById("prev-example");
        var rightArrow = document.getElementById("next-example");
        var header = document.querySelector(".card-label");
        var subheader = document.getElementById("subheader");
        index = (index + 1) % foul.media.length;
        if (index === 0) {
            textContainer.style.display = "block";
            videoContainer.style.display = "none";
            framesContainer.style.display = "none";
            leftArrow.style.display = "none";
            rightArrow.style.display = "block";
            header.textContent = "RECALL:";
            subheader.style.display = 'none';
        } else if (index === 1) {
            textContainer.style.display = "none";
            videoContainer.style.display = "flex";
            framesContainer.style.display = "none";
            leftArrow.style.display = "block";
            rightArrow.style.display = "block";
            header.textContent = "IN REAL TIME...";
            subheader.style.display = 'none';
        } else if (index === 2) {
            textContainer.style.display = "none";
            videoContainer.style.display = "none";
            framesContainer.style.display = "block";
            leftArrow.style.display = "block";
            rightArrow.style.display = "none";
            header.textContent = "A FRAME-BY-FRAME...";
            subheader.style.display = 'block';
        } 
    }
    function showPrevExample() {
        var textContainer = document.getElementById("sentence-container");
        var videoContainer = document.getElementById("video-container");
        var framesContainer = document.getElementById("frames-container");
        var leftArrow = document.getElementById("prev-example");
        var rightArrow = document.getElementById("next-example");
        var header = document.querySelector(".card-label");
        var subh = document.querySelector(".subheader");
        index = (index - 1) % foul.media.length;
        if (index === 0) {
            textContainer.style.display = "block";
            videoContainer.style.display = "none";
            framesContainer.style.display = "none";
            leftArrow.style.display = "none";
            rightArrow.style.display = "block";
            header.textContent = "RECALL:";
            subh.textContent = "";
        } else if (index === 1) {
            textContainer.style.display = "none";
            videoContainer.style.display = "flex";
            framesContainer.style.display = "none";
            leftArrow.style.display = "block";
            rightArrow.style.display = "block";
            header.textContent = "A VIDEO IN REAL TIME...";
            subh.textContent = "";
        } else if (index === 2) {
            textContainer.style.display = "none";
            videoContainer.style.display = "none";
            framesContainer.style.display = "block";
            leftArrow.style.display = "block";
            rightArrow.style.display = "none";
            header.textContent = "A FRAME-BY-FRAME IN REAL TIME...";
            subh.textContent = "click each image for a detailed play-by-play!";
        } 
    }
    function replaceImage(image, i) {
        // Replace the clicked image source with a new image source
        var fn = foul.media[2][i]
        image.src = "{{ url_for('static', filename='') }}" + fn;;
        console.log(image)
    }
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('next-page').addEventListener('click', function(event) {
            event.preventDefault();
            console.log("poop");
            const currentFoulId = foul.id;
            const currentIndex = fouls.findIndex(foul => foul.id === currentFoulId);
            const nextIndex = (currentIndex + 1);

            
            console.log(nextIndex)
            console.log()
            if (nextIndex < fouls.length) {
                const nextFoulType = fouls[nextIndex].foul_type.toLowerCase().replace(/ /g, '-');
                window.location.href = "/identifying-fouls/" + nextFoulType;
            } else {
                window.location.href = "/quiz";
            }
        });
        document.getElementById('prev-page').addEventListener('click', function(event) {
            event.preventDefault();
            const currentFoulId = foul.id;
            const currentIndex = fouls.findIndex(foul => foul.id === currentFoulId);
            const prevIndex = (currentIndex - 1);

            
            console.log(prevIndex)
            if (prevIndex >= 0) {
                const prevFoulType = fouls[prevIndex].foul_type.toLowerCase().replace(/ /g, '-');
                window.location.href = "/identifying-fouls/" + prevFoulType;
            } else {
                window.location.href = "/identifying-fouls";
            }
        });
    });

    function updateProgress() {

        console.log("poop");

        var currentFoulId = foul.id;
        console.log(currentRuleId);
        var currentSection = 'fouls-pb';


        $.ajax({
            url: '/update_progress',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ section_id: currentSection, id: currentFoulId }),
            success: function(response) {
                console.log(response);
                console.log(response.id)
                console.log('Progress updated successfully');
                var updatedFoulId = response.id;
                updateProgressBar(updatedFoulId);
            },
            error: function(xhr, status, error) {
                console.error('Error updating progress:', error);
            }
        }); 
    }

    function updateProgressBar(foulId) {
        var percentage = (foulId / 3) * 100;
        $('#fouls-pb').css('width', percentage + '%');
    } 
</script>
<style>
    .custom-card {
        border: 1px solid black;
        box-shadow: 10px 10px #000;
        border-radius: 0px;
        font-size: 24px;
        background-color: #F5F5DC;
        color: #28511c;
        padding: 0px;
    }
    video {
        width: 100%;
        height: 100%;
        /*object-fit: cover; /* Ensure media fills the container */
    }
    .img-fluid {
        width: 100%;
        height: 100%;
        /*object-fit: cover; /* Ensure media fills the container */
    }
    .lesson-button-container {
        position: relative;
    }

    .lesson-button {
        position: absolute;
        bottom: 20px; /* Adjust as needed */
        font-size: 18px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: rgb(57, 113, 224);
        text-decoration: none;
        color: rgb(254, 254, 152);
    }

    a:hover {
        text-decoration: none; 
        color: inherit; 
    }

    #prev-page {
        left: 20px;
    }

    #next-page {
        right: 20px;
    }
    body {
        background-color: #28511c;
        font-weight: 300;
        font-family: 'Kanit', sans-serif; 
    }
    .main {
        height: 100vh;
        color: #F5F5DC;
    }
    li {
        font-family: 'Titillium Web';
        font-weight: 300;
        display: flex;
        margin-bottom: 10px;
    }
    li::before {
        content: "\2192";
        display: inline-block;
        height: 20px;
        margin-left: -40px;
        padding-right: 30px;
    }

</style>
<p style="padding: 20px 20px 0px 20px; font-size: 40px; color: #F5F5DC; font-weight: 300; font-size: 40px;"> identifying fouls: {{ foul.foul_type.replace('-', ' ') }} </p>
<div class="container-fluid">
    <div class="row justify-content-center" style="padding: 30px; margin: 0px;">
        <div class="col-lg-10">
            <div class="card custom-card">
                <h3 class="row card-label" style="padding: 30px 30px 0px 30px;">
                    RECALL:
                </h3>
                <div id = "subheader" class="row subheader" style="margin-bottom: 10px; display: none; color: #28511c; font-family: 'Titillium Web'; position: relative;">
                    <div class="col-lg-12 d-flex align-items-center" style = 'margin-left: 20px;'>
                        click each image for a detailed play-by-play!
                    </div>
                </div>
                    <!-- Content goes here -->
                    <div class="row d-flex" style="height: 415px; margin: 0px; max-height: 100%; overflow:auto; font-family: 'Titillium Web';">
                        <div class="col-lg-12 d-flex align-items-center" style="height: 100%;">
                            <a class='prev-example' id = 'prev-example' onclick="showPrevExample()" style="font-size: 50px; padding-right: 15px; cursor: pointer; display: none;"> 
                                «
                            </a>
                            <ul id="sentence-container" class="sentence-container" style="height: 100%;">
                                {% for sentence in foul.relevant_info %}
                                    <li style="padding: 25px;"> {{ sentence }}</li>
                                {% endfor %}
                            </ul>

                            <div class="video-container" id="video-container" style="display: none; padding: 15px; justify-content: center;">
                                <video controls id="video-player" style="width: 70%; height: 70%; max-width: 100%; max-height: 100%;">
                                    <source src="{{ url_for('static', filename=foul.media[0]) }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div id="frames-container" style="display: none;">
                                <!-- Display 3 frames side by side -->
                                <div class="row justify-content-center" style="margin: 10px; position: relative; display: flex; vertical-align: center;">
                                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex" style="justify-content: center; display: flex;">
                                        <img src="{{ url_for('static', filename=foul.media[1][0]) }}" alt="{{ foul.foul_type }} frame 1" class="img-fluid img1" style="position: relative; cursor: pointer;" onclick="replaceImage(this, 0)">
                                    </div>
                                    <!-- Second image column -->
                                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex" style="justify-content: center; display: flex;">
                                        <img src="{{ url_for('static', filename=foul.media[1][1]) }}" alt="{{ foul.foul_type }} frame 2" class="img-fluid img2" style="position: relative; cursor: pointer;" onclick="replaceImage(this, 1)">
                                    </div>
                                    <!-- Third image column -->
                                    <div class="col-lg-4 col-md-4 col-sm-4 d-flex" style="justify-content: center; display: flex;">
                                        <img src="{{ url_for('static', filename=foul.media[1][2]) }}" alt="{{ foul.foul_type }} frame 3" class="img-fluid img3" style="position: relative; cursor: pointer;" onclick="replaceImage(this, 2)">
                                    </div>
                                </div>                    
                            </div>
                            <a class='next-example' id = 'next-example' onclick="showNextExample()" style="font-size: 50px; padding-right: 15px; cursor: pointer;"> 
                                &#187
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>

<div class="lesson-button-container">
    <a href="#" id="prev-page" class="lesson-button">back</a>
    <a href="#" id="next-page" class="lesson-button">next</a>
</div>
{% endblock %}
