
{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>
<style>
    body {
        color: #28511c;
        background-color: #28511c;
    }
    a {
        text-decoration: none;
        color: #28511c;
    }
    a:hover {
        text-decoration: none;
    }
</style>
<div class="row" style="margin-top: 15px;">
    <div class="col">
        <h2 class="navbar-row" data-toggle="collapse" href="#contactRules" role="button" aria-expanded="false" aria-controls="contactRules" style="font-weight: 400;">
            rules of contact
            <span class="arrow-down">&#x2304;</span> <!-- Carrot arrow -->
        </h2>
        <div class="collapse" id="contactRules">
            <ul class="list-group">
                <li class="list-group-item"><a href="rules/contact-while-throwing">contact while throwing</a></li>
                <li class="list-group-item"><a href="rules/contact-while-catching">contact while catching</a></li>
                <li class="list-group-item"><a href="rules/contact-away-from-the-disc">contact away from the disc</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="navbar-row" data-toggle="collapse" href="#identifyFouls" role="button" aria-expanded="false" aria-controls="identifyFouls" style="font-weight: 400;">
            identifying fouls
            <span class="arrow-down">&#x2304;</span> <!-- Carrot arrow -->
        </h2>
        <div class="collapse" id="identifyFouls">
            <ul class="list-group">
                <li class="list-group-item"><a href="identifying-fouls/offensive">offensive fouls</a></li>
                <li class="list-group-item"><a href="identifying-fouls/defensive">defensive fouls</a></li>
                <li class="list-group-item"><a href="identifying-fouls/dangerous-plays">dangerous plays</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="navbar-row" data-toggle="collapse" href="#testKnowledge" role="button" aria-expanded="false" aria-controls="testKnowledge" style="font-weight: 400;">
            test your knowledge
            <span class="arrow-down">&#x2304;</span> <!-- Carrot arrow -->
        </h2>
        <div class="collapse" id="testKnowledge">
            <ul class="list-group">
                <li class="list-group-item"><a href="quiz/1">start the quiz</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<script>
    // Toggle carrot arrow direction and collapse behavior when row is clicked
    $(document).ready(function() {
        console.log("test");
        $('.navbar-row').click(function() {
            console.log("Clicked"); // Debugging
            var arrowDown = $(this).find('.arrow-down');
            arrowDown.toggleClass('collapsed');
            var rotation = arrowDown.hasClass('collapsed') ? '180deg' : '0deg';
            arrowDown.css('transform', 'rotate(' + rotation + ')');
            var target = $($(this).attr('href'));
            target.toggleClass('show');
        });
});
</script>

{% endblock %}