{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>
<script>
    let question = {{ question | tojson }}
    let quiz = {{ quiz | tojson }}
    let progbar = {{ progbar | tojson }}
    let answer = {{ answer | tojson }}

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('prev-page').addEventListener('click', function(event) {
            event.preventDefault();
            const currentQId = question.id;
            const prevIndex = (currentQId - 1);

            console.log(prevIndex);

            
            console.log(prevIndex)
            if (prevIndex > 0) {
                window.location.href = "/quiz/" + prevIndex;
            } else {
                window.location.href = "/quiz";
            }
        });
    });
</script>
<style>
    .custom-card {
        border: 1px solid black;
        margin-bottom: 20px;
        color: #28511c;
        background-color: #F5F5DC;
        border: 2px solid #121212;
        box-shadow: 10px 10px #000;
        padding: 20px;
        width: 80%;
        display: flex;
    }
    video, .img-fluid {
        width: 100%;
        height: 100%;
        border: 2px solid black;
        font-family: 'Titillium Web';
        /*object-fit: cover; /* Ensure media fills the container */
    }
    .arrow{
        padding-top: 40px;
    }
    .lesson-button-container {
        position: relative;
    }

    .lesson-button {
        position: absolute;
        bottom: 20px; /* Adjust as needed */
        font-size: 18px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: rgb(57, 113, 224);
        text-decoration: none;
        color: rgb(254, 254, 152);
    }

    a:hover {
        text-decoration: none; 
        color: inherit; 
    }

    #prev-page {
        left: 20px;
    }

    #next-question {
        right: 20px;
    }
    body {
        background-color: #28511c;
        font-family: 'Titillium Web';
        font-weight: 400;
        color: #F5F5DC;
    }
</style>
<h2 style="padding: 20px; font-size: 38px;">test your frisbee knowledge!</h2>
<div class="container-fluid" style="padding: 40px;">
    <div class="row">
        <div class="col-lg-12">
            <h4 style="padding: 15px; font-size: 30px;">{{ question.question }}</h4>
        </div>
    </div>

    <div class="row">
        {% if question.media is not none or question.video is not none %}
            <div class="col-lg-6" style="font-size: 18px;">
                {% if question.video is none %}
                
                    {% if question.media|length == 3 %}
                        <div class="row">
                            {% for frame, picture in question.media.items() %}
                                <div class="col-lg-4">
                                    <img src="{{ url_for('static', filename=picture) }}" alt="Quiz Image" class="img-fluid">
                                    <p>{{ frame }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-lg-12">
                            <img src="{{ url_for('static', filename=question.media[0]) }}" alt="Quiz Image" class="img-fluid">
                        </div>
                    {% endif %}

                {% else %}
                    <video controls>
                        <source src="{{ url_for('static', filename=question.video) }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}

            </div>
        {% endif %}
        <div class="{% if question.media is none and question.video is none %}col-lg-12{% else %}col-lg-6{% endif %}">
            <div class="card custom-card">
                <div class="card-body" style="font-size: 34px;">
                    <h2 style="padding: 15px; color: #28511c; font-family: 'Kanit', sans-serif;">my response</h2>
                    {% for response in question.responses %}
                        <div class="form-check">
                            <!-- pseudocode to do:  if answer isn't none, populate the selected answer-->
                            <input class="form-check-input" type="radio" name="response" id="{{ response }}" value="{{ response }}" style="position: relative;" onmouseover="makeClickable(this)" {% if answer and response == answer %} checked {% endif %} >
                            <label class="form-check-label" style="font-size: 20px;" for="{{ response }}" onmouseover="makeClickable(this)">
                                {{ response }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="container-fluid" style="padding-top: 50px;">
    <a href="#" id="prev-page" class="lesson-button">back</a>
    <a href="#" id="next-question" class="lesson-button">next</a>
</div>
<script>
    const currentPageUrl = window.location.href;

    if (currentPageUrl.includes('/quiz/1')) {
        console.log("poo");
        document.getElementById('prev-page').style.display = 'none';
    }

    document.addEventListener('DOMContentLoaded', function() {
        updateProgressBar(progbar.id);
    });

    function updateProgressBar(id) {
        if (id !== 0) {
            var percentage = (id / 11) * 100;
            $('#pb').css('width', percentage + '%');
            $('#pb').text(percentage.toFixed(2) + '%');
            $('#pb').css('color', '#F5F5DC');
            console.log('fart');
        }
    } 

</script>
{% endblock %}
