{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>
<script>
    let question = {{ question | tojson }}
</script>
<style>
    .custom-card {
        border: 1px solid black;
        margin-bottom: 20px;
        color: #28511c;
        background-color: #F5F5DC;
        border: 2px solid #121212;
        box-shadow: 10px 10px #000;
        padding: 20px;
        width: 80%;
        display: flex;
    }
    video, .img-fluid {
        width: 100%;
        height: 100%;
        /*object-fit: cover; /* Ensure media fills the container */
        
    }
    .lesson-button-container {
        position: relative;
    }

    .lesson-button {
        /* position: absolute; */
        /* bottom: 20px; Adjust as needed */
        font-size: 18px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: rgb(57, 113, 224);
        text-decoration: none;
        color: rgb(254, 254, 152);
    }

    .button-container {
        padding: 10px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
    }
    body {
        background-color: #28511c;
        font-family: 'Titillium Web';
        font-weight: 400;
        color: #F5F5DC;
    }
</style>
<h2 style="padding: 20px; font-family: 'Kanit', sans-serif; font-weight: 300;">test your frisbee knowledge!</h2>
<div class="container-fluid" style="padding: 40px;">
    <div class="row">
        <div class="col-lg-12">
            <h4 style="padding: 15px; font-family: 'Kanit', sans-serif; font-weight: 300;">{{ question.question }}</h4>
        </div>
    </div>
    <div class="row">
        {% for frame, picture in question.media.items() %}
            <div class="col-lg-4" id="{{ frame }}">
                <img src="{{ url_for('static', filename=picture) }}" alt="Quiz Image" class="img-fluid" style="max-height: 300px;; width: auto;">
                <p>{{ frame }}</p>
            </div>
        {% endfor %}
    </div>
    {% for id, response in question.responses.items() %}
        <div class="row" style="padding-top: 10px;"> 
            <div class="col-lg-1">
                <div>
                    <textarea id="{{ id }}" rows="1" placeholder="eg. a" class="form-control" style="resize: none; background-color: #F5F5DC;"></textarea>
                </div>
            </div>
            <div class="col-lg-11">
                {{ response }}
            </div>
        </div>
    {% endfor %}
</div>
<div class="button-container"> 
    <a href="#" id="prev-page" class="lesson-button">back</a>
    <a href="#" id="submit-quiz" class="lesson-button">submit</a>
</div>
{% endblock %}