{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>
<script>
    let rule = {{ rule | tojson }}
    let rules = {{ rules | tojson }}
    let currentRuleIndex = 0;

    document.addEventListener('DOMContentLoaded', function() {
        function showNextExample() {
        currentRuleIndex = (currentRuleIndex + 1) % rule.media.length;
        console.log(currentRuleIndex);
        document.querySelector('video source').src = '/static/' + rule.media[currentRuleIndex][0];
        document.querySelector('.img1').src = '/static/' + rule.media[currentRuleIndex][1][0];
        document.querySelector('.img2').src = '/static/' + rule.media[currentRuleIndex][1][1];
        document.querySelector('.ex-describe').innerText = rule.media[currentRuleIndex][2];
    }

    document.getElementById('next-example').addEventListener('click', function(event) {
        event.preventDefault();
        showNextExample();
    });

    document.getElementById('prev-page').addEventListener('click', function(event) {
            event.preventDefault();

            let currentUrl = window.location.href;
            let contactType = decodeURIComponent(currentUrl.split('/').pop().replace('-', ' '));
            // find the index of the current contact type in the rules array
            let currentIndex = rules.findIndex(rule => rule.contact_type.toLowerCase() === contactType);
            // calculate the index of the previous page
            let prevIndex = (currentIndex - 1 + rules.length) % rules.length;
            let prevContactType = rules[prevIndex].contact_type.toLowerCase();
            let prevUrl;
            console.log(contactType);

            if (prevIndex === rules.length - 1) {
                prevUrl = '/rules';
            }
            else {
                prevUrl = '/rules/' + prevContactType.replace(/ /g, '-');
            }
            // redirect to the previous page
            window.location.href = prevUrl;
        });

        document.getElementById('next-page').addEventListener('click', function(event) {
            event.preventDefault();

            let currentUrl = window.location.href;
            let contactType = decodeURIComponent(currentUrl.split('/').pop().replace(/-/g, ' '));
            // find the index of the current contact type in the rules array
            let currentIndex = rules.findIndex(rule => rule.contact_type.toLowerCase() === contactType);
            // calculate the index of the next page
            let nextIndex = (currentIndex + 1) % rules.length;
            let nextContactType = rules[nextIndex].contact_type.toLowerCase();
            let nextUrl;
            console.log(nextContactType);
            if (nextIndex === 0) {
                nextUrl = '/identifying-fouls';
            } else {
                nextUrl = '/rules/' + nextContactType.replace(/ /g, '-');
                console.log(nextUrl);
            }
            // redirect to the next page
            window.location.href = nextUrl;
        });
});
</script>
<style>
    .custom-card {
        border: 1px solid black;
        border-radius: 10px;
        font-size: 24px;
    }
    video {
        width: 100%;
        height: 100%;
        /*object-fit: cover; /* Ensure media fills the container */
    }
    .img-fluid {
        width: 100%;
        height: 100%;
        /*object-fit: cover; /* Ensure media fills the container */
    }
    .lesson-button-container {
        position: relative;
    }

    .lesson-button {
        position: absolute;
        bottom: 20px; /* Adjust as needed */
        font-size: 18px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: rgb(57, 113, 224);
        text-decoration: none;
        color: rgb(254, 254, 152);
    }

    a:hover {
        text-decoration: none; 
        color: inherit; 
    }

    #prev-page {
        left: 20px;
    }

    #next-page {
        right: 20px;
    }

</style>
<h1 style="padding: 20px; font-size: 40px;">rules of contact </h1>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12"> 
            <div class="card custom-card">
                <div class="card-body" style="font-size: 20px;">
                    <h2 style="padding: 15px; font-size: 35px;">{{ rule.contact_type }}</h2>
                    {% for sentence in rule.relevant_info %}
                        <p style="padding-left: 30px;">{{ sentence }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<h1 style="padding: 25px; font-size: 40px; ">examples & descriptions </h1>
<!-- Second row with video, images, and description -->
<div class="container-fluid mt-4" style="margin-bottom: 125px;">
    <div class="row justify-content-center" style="margin-bottom: 20px;">
        <!-- Video column -->
        <div class="col-lg-4">
            <video controls>
                <source src="{{ url_for('static', filename=rule.media[0][0]) }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <!-- First image column -->
        <div class="col-lg-2">
            <img src="{{ url_for('static', filename=rule.media[0][1][0]) }}" alt="{{ rule.contact_type }} frame 1" class="img-fluid img1">
        </div>
        <!-- Second image column -->
        <div class="col-lg-2">
            <img src="{{ url_for('static', filename=rule.media[0][1][1]) }}" alt="{{ rule.contact_type }} frame 2" class="img-fluid img2">
        </div>
        <!-- Description box column -->
        <div class="col-lg-3 position-relative">
            <div class="card custom-card" style="height: 100%;">
                <div class="card-body ex-describe" style="font-size: 18px; font-weight: bold;">
                    {{ rule.media[0][2] }}
                </div>
            </div>
            <!-- Right arrow icon -->
            <a href="#" id="next-example" style="position: absolute; top: 50%; right: -10%; transform: translateY(-50%); font-size: 32px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" style="fill: gray;" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="lesson-button-container">
    <a href="#" id="prev-page" class="lesson-button">back</a>
    <a href="#" id="next-page" class="lesson-button">next</a>
</div>
{% endblock %}
